<md-sidenav class="md-sidenav-left md-whiteframe-z3" md-component-id="left" md-is-open="vm.sidenavOpen">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Edit {{vm.classified.title}}</h1>
    </md-toolbar>

    <md-content layout-padding>
        <form>
            <md-input-container>
                <label for="title">Title</label>
                <input type="text" id="title" ng-model="vm.classified.title" md-autofocus>
            </md-input-container>
            <md-input-container>
                <label for="price">Price</label>
                <input type="text" ng-model="vm.classified.price" id="price">
            </md-input-container>
            <md-input-container>
                <label for="description">Description</label>
                <textarea type="text" ng-model="vm.classified.description" id="description"></textarea>
            </md-input-container>
            <md-input-container>
                <label for="image">Image Link</label>
                <input type="text" ng-model="vm.classified.image" id="image">
            </md-input-container>
            <div layout="row">
                <md-button class="md-primary" ng-click="vm.saveEdit()">Save Edit</md-button>
                <md-button class="md-warn" ng-click="vm.closeSidebar()">Cancle</md-button>
            </div>
            <pre>{{newClassified | json}}</pre>
        </form>
    </md-content>
</md-sidenav>